/* ! base start */

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
}

/* ! base end */

/* ! header start */

header {
  border-bottom: 1px solid #dee0ea;
}

.header-row {
  height: 5.625rem;
  display: flex;
  align-items: center;
}

.global-notification {
  background-color: #1367ef;
  color: white;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.875rem;
}

.global-notification a {
  color: inherit;
  font-weight: 600;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left .logo {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
}
.header-center .navigation .menu-list {
  display: flex;
  column-gap: 1.875rem;
  align-items: center;
}

.header-center .menu-list .menu-list-item {
  display: flex;
  position: relative;
  height: 5.625rem;
  align-items: center;
}
.header-center .menu-list .menu-link {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  position: relative;
}

.header-center .menu-list .menu-link::after {
  content: "";
  width: 0;
  height: 0.0625rem;
  background-color: #1367ef;
  position: absolute;
  bottom: -0.125rem;
  left: 50%;
  transform: translate(-50%);
  transition: 0.2s ease width;
}

.header-center .menu-list .menu-list-item:hover .menu-link::after {
  width: 100%;
}

.header-center .menu-list .menu-link.active::after {
  width: 100%;
}

.header-center .menu-list .menu-link i {
  font-size: 0.75rem;
}

.header-right .header-right-links {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.header-right .bi-person {
  font-size: 1.4375rem;
}

.header-right .toggle-button {
  background-color: transparent;
  border: none;
}

.header-right i {
  font-size: 1.125rem;
  display: flex;
}

.header-right .header-cart {
  position: relative;
}

.header-right .header-cart-link .header-cart-count {
  width: 1rem;
  height: 1rem;
  background-color: #1367ef;
  color: white;
  font-size: 0.625rem;
  border-radius: 100%;
  position: absolute;
  top: -0.6875rem;
  right: -0.6875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

/* ? menu dropdown start */

header .menu-dropdown-wrapper {
  position: absolute;
  top: 100%;
  left: -1.875rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

header .menu-dropdown-content {
  width: 13.75rem;
  background-color: #fff;
  border: 1px solid #dee0ea;
  display: flex;
  flex-direction: column;
  padding: 1.125rem 0;
}

header .menu-dropdown-content a {
  display: flex;
  padding: 0.25rem 1.875rem;
  font-size: 0.875rem;
  transition: color 0.2s ease;
}

header .menu-dropdown-content a:hover {
  color: #1367ef;
}

.header-center .menu-list .menu-list-item:hover .menu-dropdown-wrapper {
  opacity: 100;
  visibility: visible;
}

header .mega-menu-links {
  display: flex;
}
header .mega-menu-products {
  font-size: 0.875rem;
}

/* ? menu dropdown end */
 12px
/* ! header end */
