.logo {
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 10px;
}

.logo-text {
  font-size: 0.9375rem;
  font-weight: 600;
}

.header-input {
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 0.3125rem, 0.625rem;
  outline: none;
  margin-right: 0.625rem;
}

.icon {
  font-size: 1.25rem;
  margin-right: 0.625rem;
}

.icon:hover {
  cursor: pointer;
}
